In [3]:
# import modul date time
import datetime as dt

In [4]:
dt.datetime(year = 2022, month = 12, day = 30)

datetime.datetime(2022, 12, 30, 0, 0)

In [13]:
# time date time dalam skala waktu
dt.time(hour = 12, minute = 30, second = 0)

datetime.time(12, 30)

In [44]:
britday = dt.datetime(2003, 3, 29 )

In [45]:
string_date = britday.strftime("%d %b %Y")

In [46]:
dt.datetime.strptime(string_date, "%d %b %Y")

datetime.datetime(2003, 3, 29, 0, 0)

# Time Delta

In [47]:
from datetime import datetime, timedelta

In [50]:
# this is time today
datetime.today()

datetime.datetime(2023, 11, 2, 1, 14, 50, 843624)

In [51]:
# five day ago
datetime.today() - timedelta(days = 5)

datetime.datetime(2023, 11, 2, 1, 25, 33, 793746)

In [53]:
# the next five days
datetime.today() + timedelta(days = 5)

datetime.datetime(2023, 11, 12, 1, 26, 59, 781160)

## relative

In [54]:
from dateutil.relativedelta import relativedelta

In [81]:
relativedelta(datetime.today(), datetime.today() + relativedelta(days = 1))

relativedelta(days=-1)

## Mengatur Zona Waktu

In [82]:
from dateutil import tz

In [84]:
now = datetime.now(tz = tz.tzlocal())

In [89]:
now.tzname()

'SE Asia Standard Time'

In [88]:
Wib = tz.gettz("Asia/Jakarta")

In [92]:
datetime.now(tz = Wib)

datetime.datetime(2023, 11, 7, 2, 3, 20, 977930, tzinfo=tzfile('Asia/Jakarta'))

In [90]:
now.replace(tzinfo = Wib)

datetime.datetime(2023, 11, 7, 2, 0, 27, 316013, tzinfo=tzfile('Asia/Jakarta'))